.navbar-nav .nav-item .nav-link:hover {
    color:  rgb(200, 200, 200) !important; /* Изменение цвета при наведении */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Это обеспечивает, чтобы flex-контейнер занимал весь видимый экран */
}

main {
    flex: 1; /* Это заставляет основной контент занимать все доступное пространство */
}

footer {
    margin-top: auto; /* Это заставляет футер быть внизу, даже если контент небольшой или отсутствует */
}